<br>
<div id="error_message"> </div>
<form method="post" action="/user/create">
  <input type="text" name="name" value="name"><br>
  <input type="text" name="username" value="username"><br>
  <input type="text" name="password" value="password"><br>
  <input type="text" name="password_check" value="password check"><br>
  <input type="submit" value="Create new user">
</form>